/*
* @Author: Administrator
* @Date:   2017-10-03 17:36:28
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-20 09:43:38
*/
header{
	width: 100%;
	height: 120px;
}
img{
	display: block;
	width: 100%;
	height: 100%;
}
.header-top{
	width: 1200px;
	height: 100%;
/* 	background: red; */
	margin: 0 auto;
	position: relative;
}
.header-left1{
	font-size: 32px;
	color: rgb(255, 58, 58);
	line-height: 120px;
	font-weight: bold;
	padding: 0 10px;
}
.header-left2{
	font-size: 32px;
	color:  rgb(204, 204, 204);
	font-weight: bold;
	line-height: 120px;
}
.header-right{
    position: absolute;
    top:40px ;
    right: 120px;
	width: 502px;
	height: 50px;
	display: flex;
	justify-content: space-around;
}
.header-right>li{
	padding: 0 10px;
	height: 48px;
	border-bottom: 2px solid rgba(0, 0, 0,0);
}
.header-right>li>a{
	font-size: 16px;
	color: #000;
	line-height: 48px;
}
.header-right>li:hover{
	border-bottom: 2px solid rgb(255, 58, 58);		
}
.header-right>li:hover>a{
	color: #f13a3a;
}
.header-right>.last{
	position: relative;
}
.header-right>.last:hover>.piao {
	display: block;
}
.header-right>.last>.piao{
	width: 80px;
	height: 86px;
	background: #f13a3a;
	z-index: 30;
	position: absolute;
	top: 60px;
	left: 0;
	display: none;
}
.header-right>.last>.piao>.sanjiao{
	font-size: 20px;
	color: #f13a3a;
	position: absolute;
	top: -14px;
	left: 50%;
	z-index: 40;
	margin-left: -5px;
}
.header-right>.last>.piao>a{
	display: block;
	width: 80px;
	height: 43px;
	background: #f13a3a;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	line-height: 43px;
	z-index: 50;
}
.header-right>.last>.piao>.piao1:hover{
	background: #5d0505;
}
.header-right>.last>.piao>.piao2:hover{
	background: #5d0505;
}
/* banner */
.banner{
	width: 100%;
	height: 580px;
	position: relative;
}
.banner-list{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.banner-list>li{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 100%;
}
.banner>.banner-btn1{
	width: 72px;
	height: 72px;
	background:  rgba(0,0,0,0.4);
	border-radius: 10px;
	position: absolute;
	z-index: 3; 
	left: 20px; 
	top: 50%; 
	margin-top: -36px;
	font-size: 40px;
	color: #ffffff;
	line-height: 72px;
	text-align: center;
}
.banner>.banner-btn2{
	width: 72px;
	height: 72px;
	background:  rgba(0,0,0,0.4);
	border-radius: 10px;
	position: absolute;
	z-index: 3; 
	right: 20px; 
	top: 50%; 
	margin-top: -36px;
	font-size: 40px;
	color: #ffffff;
	line-height: 72px;
	text-align: center;
}
/* 游记 */
.yj{
	width: 1190px;
	margin: 25px auto;
	padding: 10px;
}
.yj>.yjbt{
	display: block;
	width: 1190px;
	height: 89px;
	border-bottom: 1px solid #ccc;
	font-size: 25px;
    color: #333;
    margin: 5px 0;
}
.yj>.yjbt1{
	display: block;
	width: 1190px;
	height: 50px;
    font-size: 14px;
    color: #4D4D4D;
    line-height: 50px;
}
.yj>.yjbt1>span{
	float: left;
}
.yj>.yjbt1>a{
	float: left;
    color: #4D4D4D;
    text-decoration: underline;
}
.yj>.yjnr>.yjnr1{
	display: block;
	width: 1190px;
	height: 95px;
    font-size: 22px;
    color: #444444;
    font-weight: bold;
    text-align: center;
    line-height: 95px;
}
.yj>.yjnr>.yjnr2{
	display: block;
	width: 1190px;
	padding-bottom: 20px;
    line-height: 25px;
    font-size: 14px;
    color: #666666;
}
.yj>.yjnr>.yjnr3{
	width: 510px;
	height: 420px;
	margin: 0 auto;
}
.yj>.yjnr>.yjnr3>.yjnr3-img{
	width: 510px;
	height: 380px;
}
.yj>.yjnr>.yjnr3>.yjnr3-word{
	display: block;
	width: 510px;
	height: 40px;
	font-size: 14px;
	color: #ccc;
	line-height: 40px;
	text-align: center;
}
.yjjw{
	width: 1150px;
	height: 70px;
    padding: 27px 20px 70px;
    margin: 0 auto;
    border-top: 1px dashed #ccc;
}
.yjjw>.yjjw-top{
	width: 1150px;
	height: 20px;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
}
.yjjw .yjjw-left>.yjjw-left1{
	display: block;
	font-size: 14px;
	color: #666666;
    margin-right: 30px;
	float: left;
}
.yjjw .yjjw-left>.yjjw-left2{
	display: block;
	font-size: 14px;
	color: #666666;
	float: left;
}
.yjjw>.yjjw-top>.yjjw-right>.yjjw-right1{
	display: block;
	font-size: 14px;
	color: #666666;
	float: left;
}
.yjjw>.yjjw-top>.yjjw-right>.yjjw-right2{
	display: block;
	font-size: 14px;
	color: #666666;
	margin-left: 5px;
	float: left;
}
.yjjw>.yjjw-btm{
	width: 1150px;
	height: 45px;
	display: flex;
	justify-content: space-between;
}
.yjjw>.yjjw-btm>.yjjw-bottom{
	width: 277px;
	height: 45px;
	float: right;
}
.yjjw>.yjjw-btm>.yjjw-bottom>.yjjw-bottom1{
	display: block;
    font-size: 13px;
    color: #666;
    line-height: 45px;
    float: left;
}
.yjjw>.yjjw-btm>.yjjw-bottom>.yjjw-bottom2>li>a{
	display: block;
	width: 33px;
	height: 33px;
	background: url('../img/bbbb.png') no-repeat -1302px -100px;
	margin-bottom: 12px;
	margin-left: 12px;
	float: left;
}
.yjjw>.yjjw-btm>.yjjw-bottom>.yjjw-bottom2>li:nth-child(2)>a{
	background: url('../img/bbbb.png') no-repeat -1302px -190px;
}
.yjjw>.yjjw-btm>.yjjw-bottom>.yjjw-bottom2>li:nth-child(3)>a{
	background: url('../img/bbbb.png') no-repeat -1302px -235px;
}
.yjjw>.yjjw-btm>.yjjw-bottom>.yjjw-bottom2>li:nth-child(4)>a{
	background: url('../img/bbbb.png') no-repeat -1302px -730px;
}
.yjjw>.yjjw-btm>.yjjw-bottom>.yjjw-bottom2>li:nth-child(5)>a{
	background: url('../img/bbbb.png') no-repeat -1302px -595px;
}
/* 尾部 */
.jw{
	width: 100%;
	height: 205px;
	background: #222222;
	padding: 10px 0;
	border-top: 2px solid #f13a3a;
}
.jw1{
	width: 1200px;
	height: 205px;
	margin: 0 auto;
}
.jw-span{
	display: block;
	width: 100%;
	font-size: 18px;
	color: rgb(169, 169, 169);
	line-height: 30px;
	text-align: center;
}
.jw2{
	width: 1200px;
	height: 70px;
	padding: 20px ;
	display: flex;
	/* margin-left: 30px; */
	justify-content: space-around;
}
.jw2>li{
    width: 160px;
    height: 70px;
}
.jw3{
	width: 100%;
	font-size: 12px;
	color: #9b9b9b;
	line-height: 22px;
	text-align: center;
}
.jw4{
	width: 265px;
	margin: 0 auto;
	line-height: 30px; 
	text-align: center;
}
.jw4>li{
	float: left;
}
.jw4>span{
	float: left;
	font-size: 12px;
	color: #9b9b9b; 
}
.jw4>.jw5{
	margin: 0 5px;
}
.jw4>.jw6{
	margin-left:10px;
}
.jw4>li>a>i{
	margin: 0 2px;
}
.jw4>li>a{
	font-size: 12px;
	color: #9b9b9b; 
}
.jw4>li>a:hover{
	color: #ffffff; 
}
/* .jw{
	width: 100%;
	height: 205px;
	background: #222222;
	padding: 10px 0;
	border-top: 2px solid #f13a3a;
}
.jw1{
	width: 1200px;
	height: 205px;
	margin: 0 auto;
}
.jw2{
	width: 1170px;
	height: 160px;
	display: flex;
	margin-left: 30px;
	justify-content: space-between;
}
.jw2>li{
    width: 200px;
    height: 100%;
}
.jw2>li>dl>dt{
	font-size: 14px;
    color: rgb(169, 169, 169);
    line-height: 35px;
}
.jw2>li>dl>dd{
	font-size: 12px;
    color: rgb(169, 169, 169);
    line-height: 24px;
}
.jw3{
	width: 100%;
	font-size: 12px;
	color: #9b9b9b;
	line-height: 22px;
}
.jw4{
	width: 100%;
	line-height: 22px; 
}
.jw4>li{
	float: left;
}
.jw4>span{
	float: left;
	font-size: 12px;
	color: #9b9b9b; 
}
.jw4>.jw5{
	margin: 0 5px;
}
.jw4>.jw6{
	margin-left:10px;
}
.jw4>li>a>i{
	margin: 0 2px;
}
.jw4>li>a{
	font-size: 12px;
	color: #9b9b9b; 
}
.jw4>li>a:hover{
	color: #ffffff; 
} */