/*
* @Author: Administrator
* @Date:   2017-10-03 17:36:28
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-20 09:31:41
*/
header{
	width: 100%;
	height: 120px;
}
.header-top{
	width: 1200px;
	height: 100%;
/* 	background: red; */
	margin: 0 auto;
	position: relative;
}
.header-left1{
	font-size: 32px;
	color: rgb(255, 58, 58);
	line-height: 120px;
	font-weight: bold;
	padding: 0 10px;
}
.header-left2{
	font-size: 32px;
	color:  rgb(204, 204, 204);
	font-weight: bold;
	line-height: 120px;
}
.header-right{
    position: absolute;
    top:40px ;
    right: 120px;
	width: 502px;
	height: 50px;
	display: flex;
	justify-content: space-around;
}
.header-right>li{
	padding: 0 10px;
	height: 48px;
	border-bottom: 2px solid rgba(0, 0, 0,0);
}
.header-right>li>a{
	font-size: 16px;
	color: #000;
	line-height: 48px;
}
.header-right>.first{
	border-bottom: 2px solid rgb(255, 58, 58);	
}
.header-right>.first>a{
	color: #f13a3a;
}
.header-right>li:hover{
	border-bottom: 2px solid rgb(255, 58, 58);		
}
.header-right>li:hover>a{
	color: #f13a3a;
}
.header-right:hover>.first{
	border-bottom: 2px solid rgb(255, 58, 58);
}
.header-right:hover>.first>a{
	color: #f13a3a;
}
.header-right>.last{
	position: relative;
}
.header-right>.last:hover>.piao {
	display: block;
}
.header-right>.last>.piao{
	width: 80px;
	height: 86px;
	background: #f13a3a;
	z-index: 30;
	position: absolute;
	top: 60px;
	left: 0;
	display: none;
}
.header-right>.last>.piao>.sanjiao{
	font-size: 20px;
	color: #f13a3a;
	position: absolute;
	top: -14px;
	left: 50%;
	z-index: 40;
	margin-left: -5px;
}
.header-right>.last>.piao>a{
	display: block;
	width: 80px;
	height: 43px;
	background: #f13a3a;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	line-height: 43px;
	z-index: 50;
}
.header-right>.last>.piao>.piao1:hover{
	background: #5d0505;
}
.header-right>.last>.piao>.piao2:hover{
	background: #5d0505;
}

/* banner */
.banner{
	width: 100%;
	height: 400px;
	background: url('../img/siren.jpg') no-repeat center center;
}
/* 流程 */
.lc{
	width: 1120px;
	height: 180px;
	padding-left: 80px;
	margin: 30px auto;
}
.lc>li{
	width: 285px;
	height: 170px;
	padding: 5px;
	float: left;
}
.lc>li:last-child{
	width: 190px;
}
.lc>li>.lc-img{
	width: 285px;
	height: 120px;
}
.lc>li>.lc-img>.lc-img1{
	width: 120px;
	height: 120px;
	float: left;
}
.lc>li>.lc-img>.lc-img2{
	width: 165px;
	height: 120px;
	float: left;
}
.lc>li>p{
    font-size: 20px;
    color: #666666; 
    line-height: 50px;
}

.lcjs{
	width: 1200px;
	height: 565px;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
}
.lcjs>li{
	width: 278px;
	height: 555px;
	margin: 5px;
}
.lcjs>li>.lcjs-img{
	width: 278px;
	height: 162px;
}
.lcjs>li>.lcjs-word{
	width: 278px;
	height: 100px;
	padding: 10px 0;
	border-bottom: 1px dashed #ccc;
}
.lcjs>li>.lcjs-word>span{
	display: block;
	width: 278px;
	height: 25px;
	font-size: 14px;
	color: #666666;
	line-height: 25px;
}
.lcjs>li>.zjtj{
	width: 278px;
	height: 100px;
	padding: 20px 0;
}
.lcjs>li>.zjtj>p>span{
	display: block;
	width: 278px;
/* 	height: 25px; */
	font-size: 14px;
	color: #666666;
	line-height: 25px;
}
/* 尾部 */
.jw{
	width: 100%;
	height: 205px;
	background: #222222;
	padding: 10px 0;
	border-top: 2px solid #f13a3a;
}
.jw1{
	width: 1200px;
	height: 205px;
	margin: 0 auto;
}
.jw-span{
	display: block;
	width: 100%;
	font-size: 18px;
	color: rgb(169, 169, 169);
	line-height: 30px;
	text-align: center;
}
.jw2{
	width: 1200px;
	height: 70px;
	padding: 20px ;
	display: flex;
	/* margin-left: 30px; */
	justify-content: space-around;
}
.jw2>li{
    width: 160px;
    height: 70px;
}
.jw3{
	width: 100%;
	font-size: 12px;
	color: #9b9b9b;
	line-height: 22px;
	text-align: center;
}
.jw4{
	width: 265px;
	margin: 0 auto;
	line-height: 30px; 
	text-align: center;
}
.jw4>li{
	float: left;
}
.jw4>span{
	float: left;
	font-size: 12px;
	color: #9b9b9b; 
}
.jw4>.jw5{
	margin: 0 5px;
}
.jw4>.jw6{
	margin-left:10px;
}
.jw4>li>a>i{
	margin: 0 2px;
}
.jw4>li>a{
	font-size: 12px;
	color: #9b9b9b; 
}
.jw4>li>a:hover{
	color: #ffffff; 
}
/* .jw{
	width: 100%;
	height: 205px;
	background: #222222;
	padding: 10px 0;
	border-top: 2px solid #f13a3a;
}
.jw1{
	width: 1200px;
	height: 205px;
	margin: 0 auto;
}
.jw2{
	width: 1170px;
	height: 160px;
	display: flex;
	margin-left: 30px;
	justify-content: space-between;
}
.jw2>li{
    width: 200px;
    height: 100%;
}
.jw2>li>dl>dt{
	font-size: 14px;
    color: rgb(169, 169, 169);
    line-height: 35px;
}
.jw2>li>dl>dd{
	font-size: 12px;
    color: rgb(169, 169, 169);
    line-height: 24px;
}
.jw3{
	width: 100%;
	font-size: 12px;
	color: #9b9b9b;
	line-height: 22px;
}
.jw4{
	width: 100%;
	line-height: 22px; 
}
.jw4>li{
	float: left;
}
.jw4>span{
	float: left;
	font-size: 12px;
	color: #9b9b9b; 
}
.jw4>.jw5{
	margin: 0 5px;
}
.jw4>.jw6{
	margin-left:10px;
}
.jw4>li>a>i{
	margin: 0 2px;
}
.jw4>li>a{
	font-size: 12px;
	color: #9b9b9b; 
}
.jw4>li>a:hover{
	color: #ffffff; 
} */
