/*
* @Author: Administrator
* @Date:   2017-09-27 17:12:05
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-28 11:28:22
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
*{
	-webkit-tap-hightlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background: #fbfbfb;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	height: 1.2rem;
	background: #fbfbfb;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0.2rem 0.3rem;
	border-bottom: 0.01rem solid #e0e0e0;
	overflow: hidden;
}
header > input{
	float: left;
	width: 100%;
	height: 0.8rem;
	text-align: center;
	background: #ffffff;
	border: 0.01rem solid #e0e0e0;
    outline: none;
    color: #333333;
    font-size: 0.2rem;
    border-radius: 0.05rem;
}
dl{
	padding: 1.2rem 0;
	width: 100%;
	height: auto;
}
dt,.tips{
	padding-left: 0.15rem;
	width: 100%;
	height: 1rem;
	background: #e0e0e070;
	font-size: 0.4rem;
	line-height: 1rem;
}
.tips{
	position: fixed;
	top: 1.2rem;
	left: 0;
	background: #ccc;
}
dd{
	width: 100%;
	height: 1rem;
	margin-left: 0.4rem;
	line-height: 1rem;
	border-bottom: 0.01rem solid #e0e0e0;
}
dd a{
	display: block;
	font-size: 0.12rem;
    color: #666666;
}
aside{
	width: 0.4rem;
	height: auto;
	position: fixed;
	right: 0rem;
	top: 50%;
	background:#e0e0e0; 
}
aside>li{
	font-size: 0.14rem;
	text-align: center;
}